.container{
    margin-left: 18%;
    margin-right: 18%;

}
.section_topstory{
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: red;
}
.sub_story{
    margin-top: 5px;
    width: 30%;
    display: block;
    height: inherit;
    justify-content: space-between;

}
.section_middle .sub_story{
    display: flex;
    justify-content: space-between;
    width: 100%;

}