.container{
    justify-content: space-between;
}

.first_section{
    width: 30%;
    
}
.second_section{
    width: 65%;
}
.innerDiv{
    border-right-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}