.container_1{
    width: 24%;
    height: auto;
    /* margin-left: 16px;
    padding-left: 16px;
    border-left: solid 1px black; */
}
.container_2{
    width: 24%;
    height: auto;
    margin-left: 16px;
    padding-left: 16px;
    border-left: solid 1px black;
}
.container_2 a{
    text-decoration: none!important;
    outline: 1!important;
}
.container_1 a{
    text-decoration: none!important;
    outline: 1!important;
} 
