.container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.group{
    border-bottom: solid rgb(136, 130, 130) 1px;
    display: block;

}
.infor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    min-height: 50px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.update{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    display: none;
    margin-top: 5px;
    margin-bottom: 15px;

}
.inputUpdate{
    height: 20px;
}
.column{
    width: 15%;
    color: blue;
}
.midColumn{
    width: 70%;
}
.lastColumn{
    width: 10%;
}
.replaceInfor{
    cursor: pointer;
    color: rgb(168, 8, 21);
}
.desArea{
    height: 10vh;
    margin-bottom: 10px;
}
.contentPost{
    height: auto;
    margin-bottom: 8px;
    min-height: 50vh;

}
.disablePost{
    color: black;
}
.title{
    text-align: center;
    color: green;
    font-size: 30px;
    margin-bottom: 20px;
}
.updatePost{
    margin-top: 30px;
    margin-left: 40%;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    border-color: yellow;
    
    z-index: 9999;

    background: linear-gradient(to right, #7fa2d1, #06ff4b);
    cursor: pointer;
}
.imgInner{
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
    margin: auto;
    display: block;
}