/* .container{
    
} */
.hyperLink{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.opGeneral{
    margin-top: 50px;
    background-color: #1f45ec;
    font-size: 20px;
    height: 10vh;
}
.opManageAcc{
    margin-top: 50px;
    background-color: #4caf50;
    height: 10vh;
    font-size: 20px;
}
.opAddPost{
    margin-top: 50px;
    background-color: #cecb09;
    height: 10vh;
    font-size: 20px;

}
.opManagePost{
    margin-top: 50px;
    background-color: rgb(184, 24, 162);
    height: 10vh;
    font-size: 20px;
}
.onLogOut{
    margin-top: 50px;
    background-color: rgb(160, 28, 28);
    height: 10vh;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.textInfo{
    text-align: center;
    padding: 1.5rem 0px;
}
.opGeneral:hover{
    background-color:  #5a76f0;
    transform: rotate(-20deg);
}
.opManageAcc:hover{
    background-color:  #73b174;
    transform: rotate(20deg);
}
.opManagePost:hover{
    background-color: rgb(182, 85, 169);
    transform: rotate(-20deg);
}
.opAddPost:hover{
    background-color: #b9b85b;
    transform: rotate(20deg);
}