.container{
    float: left;
    width: 22%;
    margin-left: 20px;
    height: 40vh;
    background-color: rgb(15, 165, 170);
    margin-bottom: 2vh;
}
.image{
    height: 20vh;
    width: 100%;
}
.container .title{
    height: 8vh;
    padding-left: 5px;

}
.optionArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.option{
    cursor: pointer;
    background-color: rgb(85, 162, 182);
    color: white;
    height: 3vh;
    width: 5vw;
    text-align: center;
    padding-top: 5px;
}
.option:hover{
    background-color: rgb(187, 22, 36);
}
.linkPost{
    text-decoration: none;
    
}