

.tool-bar{
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 10%;
    display: flex;
    background-color: black;
}
.image{
    width: 20px;
    height: 20px;
    padding-right: 20px;
}
.userIcon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.namePaper {
    /* align-items: center; */
    color: white;
    margin-right: 20px;
    font-size: 25px;
}
.text-color{
    color: white;
}
.search{
    width: 91%;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
}
.div-search{
    margin-left: 60px;
    width: 60%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.div-user{
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}
.tool-bar a{
    text-decoration: none;
}



/* ------------- nar-bar */
.nar-bar{

    background-color: black;
    display: flex;
    /* padding-left: 15%; */
    padding-right: 15%;
    width: 100%;
    align-items: center;
}
.menu-fixed{
    position: fixed;
    top:0;
}
.nar-menu{
    /* flex-direction: row; */
    display: flex;
}

.Header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    z-index: 9999;
}
.Header li{
    margin-right: 10px;
}

.Header ul li {
    border: 2px solid transparent;
    align-content: center;
    align-items: center;

}
  
.nar-bar ul li:hover {
    border-color: yellow;
    
    z-index: 9999;

    background: linear-gradient(to right, #7fa2d1, #06ff4b);

  }
  
  
.nar-bar  a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
  }

.row-menu a{
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    color: white;
}

.row-menu-1{
    display: flex;
    padding:10px 20%;
    justify-content: space-between;
}
.row-menu-2{
    display: flex;
    padding:10px 20%;
    justify-content: space-between;
}

.row-menu{
    position: fixed;
    background-color: black;
    width: 100%;
    align-items: center;
    
}
.Header h1{
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

