.container{
    display: flex;
    justify-content: center;
}
.container .input{
    width: 60%;
    height: 40px;
    font-size:20px;

}
.container .image{
    width: 35px;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}