.container{
    display: flex;
    flex-direction: row;
    margin: 50px 2%;
}
.title{
    text-align: center;
    color:green
}
.leftElement{
    width: 15%;
}
.rightElement{
    width: 85%;
    margin-left: 1%;
}
.inner{
    border-right: solid 1px black;
    height: 100vh;
    margin-left: 10px;
}
.parentPost{
    display: block;
    width: 100%;
}
.childPost{
    width: 25%;
    /* display: inline; */
    background-color: green;
    float: left;


}