.container{
    margin-left: 13%;
    margin-right: 13%;
    min-height: 600px;
}
.mainSection{
    display: flex;
    margin-top: 20px;
}
.leftSection{
    width: 20%;
}
.rightSection{
    width: 80%;
}