body .loginWrap {
    margin: 10 auto;
    color: #b5b5b5;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;

}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.loginWrap {
    margin: 20px auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center !important;
    box-shadow: 0 12px 15px 0 rgba(69, 4, 245, 0.24), 0 17px 50px 0 rgba(65, 17, 240, 0.19);
    border-radius: 2%;
}

.loginHtml {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(57, 62, 66, 0.9);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.loginHtml .signInHtm,
.loginHtml .signUpHtm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.loginHtml .signIn,
.loginHtml .signUp,
.loginForm .group .check {
    display: none;
}

.loginHtml .tab,
.loginForm .group .label,
.loginForm .group .button {
    text-transform: uppercase;
}

.loginHtml .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.loginHtml .signIn:checked+.tab,
.loginHtml .signUp:checked+.tab {
    color: #ffa805;
    border-color: #1161ee;
}

.loginForm {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.loginForm .group {
    margin-bottom: 15px;
}

.imgFb {
    color: #0000ff !important;
    padding-left: 45px;
}

.imgGoogle {
    color: #ff0000 !important;
    padding-left: 45px;
}

.social_log_fb {
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    background: #ebebf0 !important;
    float: left;
    box-shadow: 0 12px 15px 0 rgba(69, 4, 245, 0.24), 0 17px 50px 0 rgba(65, 17, 240, 0.19);
    border-style: solid;
    border-color: blue;
}

.social_log_gg {
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    background: #ebebf0 !important;
    float: left;
    box-shadow: 0 12px 15px 0 rgba(69, 4, 245, 0.24), 0 17px 50px 0 rgba(65, 17, 240, 0.19);
    border-style: solid;
    border-color: red;
}

a {
    list-style-type: none;
}

.loginForm .group .label,
.loginForm .group .input,
.loginForm .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.loginForm .group .input,
.loginForm .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px !important;
    background: rgba(255, 255, 255, .1);
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}

.loginForm .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.loginForm .group .label {
    color: #aaa;
    font-size: 12px;
}

.loginForm .group .button {
    background: #1161ee;
    box-shadow: 0 12px 15px 0 rgba(69, 4, 245, 0.24), 0 17px 50px 0 rgba(65, 17, 240, 0.19);
}

.loginForm .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.loginForm .group label .icon:before,
.loginForm .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.loginForm .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.loginForm .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.loginForm .group .check:checked+label {
    color: #fff;
}

.loginForm .group .check:checked+label .icon {
    background: #1161ee;
}

.loginForm .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.loginForm .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.loginHtml .signIn:checked+.tab+.signUp+.tab+.loginForm .signInHtm {
    transform: rotate(0);
}

.loginHtml .signUp:checked+.tab+.loginForm .signUpHtm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 100px 0 50px 0;
    background: #ffa805;
}z

.foot-lnk {
    text-align: center;
}
